table{
	border-style: outset;
	border-color: blue;
	border-width: 5px;
}

body{
	background-image: url(https://cdn.wallpapersafari.com/74/84/vAp1SG.jpg);
	border: 12px;
	border-color: white;
}
td{
	border-style: outset;
	border-color: blue;
	border-width: 5px;
}
dl{
	font-weight: bold;
	font-size: 16px;
}
div{
	background-color: #DCDCDA;
	border: solid;
	border-color: #6e6b6a;
	overflow: auto;
	width: 300px;
	height: 300px;
	float: left;
	margin: 10px;
	border-radius: 5px;
	margin-left: 100px;
}
div.big{
	margin-left: 15%;
	width: 70%;
	border: none;
	background: none;
	height: auto;
}
div.lessbig{
	margin-left: 15%;
	width: 70%;
	border: none;
	background: none;
	height: auto;

}
h1{
	text-align: center;
}
h2{
	text-align: center;
}
h3{
	text-align: center;
	margin: 10px;
}
img.science{
	height: 20%;
	width: 40%;
	margin-left: 30%;
	border: solid;
	border-radius: 2px;
	border-color: #6e6b6a;
}
button.s_hyper{
	height: 50px;
	width: 150px;
	float: right;

}

