table{
	border-style: outset;
	border-color: blue;
	border-width: 5px;
	align-content: center;
}

body{
	background-image: url(https://cdn.wallpapersafari.com/74/84/vAp1SG.jpg);
}
td{
	border-style: outset;
	border-color: blue;
	border-width: 5px;
}
dl{
	font-weight: bold;
	font-size: 16px;
}
ul{
	font-size: 12px;
}
body{
	align-self: center;
	align-content: center;
}
h1{
	align: center;
	background-color: #DCDCDA;
	border: solid;
	border-color: #6e6b6a;
}
h2{
	align: center;
	background-color: #DCDCDA;
	border: solid;
	border-color: #6e6b6a;
	border-radius: 4px;
}
